{% extends 'base.html.twig' %}
{% block title %}
  {{ user.name }}
{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}" />
{% endblock %}
{% block javascripts %}
  <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
  <script src="{{ asset('assets/js/profile.js') }}"></script>
{% endblock %}

{% block header %}

{% endblock %}
{% block body %}
  {% include 'header.html.twig' with { user: user } %}
  <section class="home">
    <div class="home-detail">
      <h3>Welcome Back !</h3>
      <h1>{{ user.name }}</h1>

      <h3>
        And Let's
        <span class="textline"></span>
      </h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro illum laborum qui officia enim tempore cupiditate soluta earum est ullam ex quisquam rem dolores, dolor natus, odio labore animi dignissimos.</p>

      <div class="social-media">
        <a href="https://www.facebook.com" style="--vlr: 5"><i class="fab fa-brands fa-facebook fa-xl"></i></a>
        <a href="https://www.instagram.com" style="--vlr: 6"><i class="fab fa-brands fa-instagram fa-xl"></i></a>
        <a href="https://www.whatsapp.com" style="--vlr: 7"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
        <a href="https://www.twitter.com" style="--vlr: 8"><i class="fa-brands fa-twitter fa-xl"></i></a>
      </div>
      <a style="color:inherit; text-decoration:none;" href="{{ path('app_event_user') }}" style="text-decoration: none"><button class="btn">Your Events</button></a>
      <a style="color:inherit; text-decoration:none;" href="{{ path('app_settings') }}" style="text-decoration: none"><button class="btn">Settings</button></a>
    </div>
    <div class="profile-photo">
      {% if user.imageFilename %}
        <img src="{{ asset('assets/images/users/' ~ user.imageFilename) }}" alt="User Image" />
      {% else %}
        <img src="{{ asset('assets/images/Vector Art.jpeg') }}" alt="Default User Image" />
      {% endif %}

      <button class="edit" onclick="showPopup()">Change Your Profile Picture</button>
      <div id="popup" class="popup">
        <div class="popup-content">
          <button class="close-btn" onclick="hidePopup()">X</button>
          <h2 class="popup-title">Choose An Image</h2>
          {% if user.imageFilename %}
            <img src="{{ asset('assets/images/users/' ~ user.imageFilename) }}" alt="User Image" />
          {% else %}
            <img src="{{ asset('assets/images/Vector Art.jpeg') }}" alt="Default User Image" />
          {% endif %} <div class="boutons">
            <form action="{{ path('app_image') }}" method="post" enctype="multipart/form-data">
              <label for="user_image" class="file-input-label">Choose A File</label>
              <input id="user_image" type="file" name="user_image" accept="image/jpeg, image/png, image/gif" />
              <button id="submit-btn" type="submit" class="file-input-label" disabled>Update</button>
            </form>

            {% if user.imageFilename %}
              <form method="post" action="{{ path('app_delete_picture') }}">
                <button type="submit" class="file-input-label">Delete Picture</button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
