{% extends 'base.html.twig' %}

{% block title %}
	Booking Confirmed
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css?v=1.0" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"/>
	<link rel="stylesheet" href="{{ asset('/assets/css/booking.css?v=1.0') }}"/>
{% endblock %}

{% block body %}
{% include 'header.html.twig' with {'user': user} %}

<div
	class="container">
	<!-- Title -->
	<div class="d-flex justify-content-between align-items-center py-3">
		<h2 class="h5 mb-0">
			<a href="#" class="text-muted"></a>
			Order #{{ booking.getId() }}</h2>
	</div>

	<!-- Main content -->
	<div class="row">
		<div
			class="col-lg-8">
			<!-- Details -->
			<div class="card mb-4">
				<div class="card-body">
					<div class="mb-3 d-flex justify-content-between">
						<div>
							<span class="me-3">{{ booking.getDate()|date('Y-m-d') }}</span>
							<span class="me-3">#{{ booking.getId() }}</span>
							<span class="me-3">Cash</span>
							<span class="badge rounded-pill bg-success">Booking Confirmed</span>
						</div>
					</div>
					<table class="table table-borderless">
						<thead>
							<tr>
								<th>Event</th>
								<th>Guests</th>
								<th class="text-end">Price</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="d-flex mb-2">
										<div class="flex-shrink-0">
											<img src="{{ asset('assets/images/EventPageImages/Events/' ~ event.id ~ '/1.jpg') }}" alt="event_image" width="75" height="50" class="img-fluid">
										</div>
										<div class="flex-lg-grow-1 ms-3">
											<h6 class="small mb-0">
												<a href="{{ path('app_event_page', {'id': event.id}) }}"  style="text-decoration:none">{{ event.name }}</a>
											</h6>
										</div>
									</div>
								</td>
								<td>{{ guestnbr }}</td>
								<td class="text-end">{{ event.price }}
									TND</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">Subtotal</td>
								<td class="text-end">
									{% set totalPrice = event.price * guestnbr %}
									{{ totalPrice }}
									TND</td>
							</tr>
							<tr>
								<td colspan="2">Additional Costs</td>
								<td class="text-end">20 TND</td>
							</tr>
							<tr class="fw-bold">
								<td colspan="2">TOTAL</td>
								<td class="text-end">{% set result = totalPrice + 20 %}
									{{ result }}
									TND</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			            <!-- Payment -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="h6">Payment Method</h3>
                            <p>Cash<br>
                                Total: {{ result }} TND
                                <span class="badge bg-danger rounded-pill">Unpaid</span>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="h6">Client Name</h3>
                            <address>
                                <strong>{{ user.name }}</strong><br>
                                {{ guestnbr }}   Guest(s)<br>
                            </address>
                        </div>
                    </div>
                    <!-- Confirmation of booking button -->
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{{ path('booking_cancel') }}" class="btn btn-md btn-danger confirmation-btn">Cancel Booking</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <!-- Customer Notes -->
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="h6">Conditions</h3>
                    <p>Please ensure that you pay the fees on the day of the event at our location. If you wish to cancel the booking, please contact us at least 3 days prior to the start of the event.</p>
                </div>
            </div>
            <!-- Event details -->
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="h6">Event Details</h3>
                    <p>
                        <strong>Title:</strong>
                        <span title="{{ event.name }}">{{ event.name }}</span>
                    </p>
                    <p>
                        <strong>Country:</strong>
                        <span title="{{ event.country }}">{{ event.country }}</span>
                    </p>
                    <p>
                        <strong>City:</strong>
                        <span title="{{ event.city }}">{{ event.city }}</span>
                    </p>
                    <p>
                        <strong>Place:</strong>
                        <span title="{{ event.place }}">{{ event.place }}</span>
                    </p>
                    <p>
                        <strong>Price:</strong>
                        <span title="{{ event.price }}">{{ event.price }} TND</span>
                    </p>
                    <p>
                        <strong>Date:</strong>
                        <span title="From {{ event.getDateDebut().format('Y-m-d') }} to {{ event.getDateFin().format('Y-m-d') }}">From
                            {{ event.getDateDebut().format('Y-m-d') }}
                            to
                            {{ event.getDateFin().format('Y-m-d') }}</span>
                    </p>
                    <p>
                        <strong>Additional items:</strong>
                        <span>Tent, Sleeping Bag, Camping Clothes</span>
                    </p>
                    <p>
                        <strong>Additional items Cost:</strong>
                        <span>20 TND</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html.twig' with {'user': user} %}
{% endblock %}
