	<header class="header">
		<a href="{{ path('app_home') }}" class="logo">Glamping</a>
		<nav class="navbar">
<a href="{{ path('app_home') }}" style="--clr: 1" class="active">

				Home
			</a>
<a href="/#aboutus" style="--clr: 2">

				About Us
			</a>
			<a href="{{ path('app_catalogue_page')	}}" style="--clr: 3">
				Catalogue
			</a>
			{% if (user) %}

				<a href="{{ path('app_authentication_logout') }}" style="--clr: 3">
                         log out
				</a>
                <a href="{{ path('app_profile')}}" style="--clr: 4">

					{{user.name}}
				</a>


			{% else %}

				<a href="{{ path('app_authentication_signup') }}?url={{ app.request.uri }}" style="--clr: 4">
					Sign Up
				</a>
<a class="btn btn-success " href="{{ path('app_authentication') }}?url={{ app.request.uri }}">Sign In</a>


			{% endif %}

		</nav>
	</header>
	