{% extends 'base.html.twig' %}

{% block title %}
	Events Catalogue
{% endblock %}
{% block javascripts %}
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js"></script>
	<script src="{{ asset('assets/js/EventCatalogue/Map.js') }}"></script>
	<script src="{{ asset('assets/js/EventCatalogue/Date.js') }}"></script>
	<script src="{{ asset('assets/js/EventCatalogue/Like.js') }}"></script>
{% endblock %}
{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"/>
	<link href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@1,500&family=Play&family=Poppins&family=Ubuntu+Condensed&display=swap" rel="stylesheet"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
	<link rel="stylesheet" href="{{ asset('assets/css/heart.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/css/Eventcatalogue.css') }}"/>
{% endblock %}


{% block body %}
	{% include 'header.html.twig' with {'user': user} %}
	<br/>
	<br/>
	<div class="container-fluid">
		<br/>
		<br/>
		<div
			class="row" style="padding: 1%; padding-bottom: 0;padding-left: 0;">
			<!--Search Bar And Filters-->
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<nav class="navbare z-1 rounded-5">
					<div class="row gx-2 align-items-center justify-content-evenly" style="padding: 1%; padding-bottom: 0">
						<div class="col-md-8">
							<div class="inputGroup">
								{% if (search) %}
									<input name="Search" type="text" required="true" autocomplete="off" value="{{search}}"/>

								{% else %}
									<input name="Search" type="text" required="true" autocomplete="off"/>

								{% endif %}
								<label for="Search">
									<span class="fas fa-sharp fa-solid fa-magnifying-glass"></span>
									SearchBar
								</label>
							</div>
						</div>
						<div class="col-md-2">
							<div class="inputGroup">
								{% if (minPrice) %}
									<input name="minPrice" type="number" min="0" required="true" autocomplete="off" value="{{ minPrice }}"/>
								{% else %}
									<input name="minPrice" type="number" min="0" required="true" autocomplete="off"/>
								{% endif %}
								<label for="minPrice" name="minPrice">
									<span class="fas fa-solid fa-euro-sign"></span>
									Minimum Price
								</label>
							</div>
						</div>
						<div class="col-md-2">
							<div class="inputGroup">
								{% if (maxPrice) %}
									<input name="maxPrice" type="number" min="0" required="true" autocomplete="off" value="{{ maxPrice }}"/>
								{% else %}
									<input name="maxPrice" type="number" min="0" required="true" autocomplete="off"/>
								{% endif %}
								<label for="maxPrice" name="maxPrice">
									<span class="fas fa-solid fa-euro-sign"></span>
									Maximum Price
								</label>
							</div>
						</div>
					</div>
				</nav>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div
			class="row" style="padding: 1%; padding-top: 0;padding-left: 0;">
			<!--Search Bar And Filters-->
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<nav class="navbare z-1 rounded-5">
					<div class="row gx-2 align-items-center justify-content-evenly" style="padding: 1%; padding-top: 0">
						<div class="col-md-4">
							<div class="inputGroup">
								{% if location %}
									<input name="location" type="text" required="true" autocomplete="off" value="{{ location }}"/>
								{% else %}
									<input name="location" type="text" required="true" autocomplete="off"/>
								{% endif %}
								<label for="location">
									<span class="fas fa-regular fa-location-dot" pattern="[A-Za-z]+"></span>
									location
								</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="inputGroup">
								<input type="text" name="daterange" value="08/05/2023 - 10/05/2023"/>
							</div>
						</div>
						<div class="col-md-3">
							<div class="inputGroup">
								{% if guestInput %}
									<input name="guests" type="number" min="1" max="{{guests}}" autocomplete="off" required="true" value="{{ guestInput }}"/>
								{% else %}
									<input name="guests" type="number" min="1" max="{{guests}}" autocomplete="off" required="true" value="{{ guestInput }}"/>
								{% endif %}
								<label for="guests" name="guest">
									<span class="fas fa-regular fa-user"></span>
									Add guests
								</label>
							</div>
						</div>
						<div class="col-md-2">
							<div class="inputGroup">
								<button type="button" class="btn btn-success p-3 m-1 bouton bg-green-700 hover:bg-green-800 active:bg-green-900">
									Search
								</button>
							</div>
						</div>
					</div>
				</nav>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div
			class="row justify-content-center" style="padding: 0px; padding-left: 2%">
			<!--Card Deck-->
			<div class="col-md-7 align-items-center justify-content-end" style="padding: 0px">
				<div
					class="row align-items-center justify-content-end">
					<!--Card Deck Header+Sorting Choice-->
					<div class="col-md-7">
						<h2 style="font-size: xx-large; font-weight: bolder">Events:</h2>
					</div>
					<div class="col-md-1">
						<label for="SortBy">SortBy:</label>
					</div>
					<div class="col-md-4" style="padding-right: 3%">
						<select name="SortBy" id="SortBy" class="form-select">
							<option value="Relevence" selected>Relevence</option>
							<option value="PriceAsc">PriceAsc</option>
							<option value="PriceDesc">PriceDesc</option>
						</select>
					</div>
				</div>
				{% if pager %}
					{% for item in pager %}
						{% if (loop.index is odd) %}
							<div class="row align-items-center justify-content-evenly cardRow">
							{% endif %}
							<div class="col-md-6" style="height:100%">
								<div class="card">
									<div class="flex w-full f-full overflow-hidden bg-white shadow-lg">
										<div class="w-2/5 bg-cover bg-landscape">
											<img src="{{ asset('assets/images/EventPageImages/Events/' ~ item.id ~ '/1.jpg') }}" alt="camp" class="w-full h-full object-cover"/>
										</div>
										<div class="w-3/5 p-4">
											<div class="flex justify-between items-start">
												<div class="flex-auto">
													<h3 class="text-2md font-bold text-gray-900">
														{{ item.name }}
													</h3>
												</div>
												<div class="flex-auto w-64"></div>
												<div class="flex-auto w-32">
													<div class="con-like">
														{% if item.toggled %}
															<input title="like" type="checkbox" checked class="like" id="like-{{ item.id }}"/>
														{% else %}
															<input title="like" type="checkbox" class="like" id="like-{{ item.id }}"/>
														{% endif %}
														<div class="checkmark">
															<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																<path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"></path>
															</svg>
															<svg viewbox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
																<path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"></path>
															</svg>
															<svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
																<polygon points="10,10 20,20" class="poly"></polygon>
																<polygon points="10,50 20,50" class="poly"></polygon>
																<polygon points="20,80 30,70" class="poly"></polygon>
																<polygon points="90,10 80,20" class="poly"></polygon>
																<polygon points="90,50 80,50" class="poly"></polygon>
																<polygon points="80,80 70,70" class="poly"></polygon>
															</svg>
														</div>
													</div>
												</div>
											</div>
											<p class="mt-2 text-sm text-gray-600">
												Enjoy a Thrilling Experience in
												{{ item.place }}
												!
											</p>
											<div class="flex mt-auto item-center">
												<h2 class="text-md text-black">
													Debut :
												</h2>
												<h2 class="text-md text-black">
													{{ item.date_debut  }}
												</h2>
											</div>
											<div class="flex mt-auto item-center">
												<h2 class="text-md text-black">
													Fin :
												</h2>
												<h2 class="text-md text-black">
													{{ item.date_fin  }}
												</h2>
											</div>
											<div class="flex justify-between mt-3 item-center">
												<h1 class="text-md font-bold text-gray-700">
													<span class="fas fa-solid fa-euro-sign"></span>
													{{ item.price }}</h1>
												<button id="book-{{ item.id }}" class="px-2.5 py-1.5 text-xs font-small text-white bg-gray-800 rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
													Book Now
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% if (loop.index is even or loop.last) %}
							</div>
						{% endif %}
						{% if ( loop.last and loop.index0 < 2 ) %}
							<div class="row align-items-center justify-content-evenly cardRow"></div>
						{% endif %}
						{% if ( loop.last and loop.index0 < 4 ) %}
							<div class="row align-items-center justify-content-evenly cardRow"></div>
						{% endif %}
					{% endfor %}
				{% else %}
					<div class="row align-items-center justify-content-evenly cardRow">
						<h1 class="text-align">
							NOTHING FOUND
						</h1>
					</div>
					<div class="row align-items-center justify-content-evenly cardRow"></div>
					<div class="row align-items-center justify-content-evenly cardRow"></div>
				{% endif %}

				<!--Pagination-->
			</br>
			<div class="row">
				<div class="col-3"></div>
				<div class="col-6">
					<nav class="pagin justify-content-center">
						{{ pagerfanta(fanta , {parameters: [route]}) }}
					</nav>
				</div>
				<div class="col-3"></div>
			</div>
		</div>
		<!--Map-->
		<div class="col-md-5" style="padding: 0px">
			<div id="map"></div>
		</div>
	</div>
	<br/>
	<br/>
</div>
<script>
	let Markers = [];{% for item in pager %}Markers[{{ loop.index0 }}] = {
x: {{ item.latitude }},
y: {{ item.longitude }},
alt: '{{ item.city }}',
popupText: '{{ item.name }}'
};{% endfor %}
</script>{% endblock %}
